gensim==4.3.3
imblearn==0.0
llama-cpp-python==0.2.78
matplotlib==3.8.4
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
seaborn==0.13.2
scikit-learn==1.4.2
scipy==1.13.0
tensorflow==2.10
tensorflow-text==2.15.*
tf-models-official==2.15.*
torch==2.3.0+cu118
tqdm==4.66.4
transformers==4.41.2
wordcloud==1.9.3
